/*****************TAG SELECTORS*****************/

body {
   background-color: black;
}

h1 {
   color: white;
}

p {
   color: white;
}

td {
   color: white;
}

/*****************CLASS SELECTORS*****************/

.resized-artwork {
   display: block;
   margin-left: auto;
   margin-right: auto;
   outline: black;
}
